* {
    margin: 0;
    padding: 0;
}

body {
    /* border: 1px solid rgb(90, 0, 128); */
    display: flex;
    justify-content: center;
}

.main-container {
    width: 80%;
    /* border: 1px solid green; */
}

header {
    background-image: linear-gradient(to right, #004aad, #004aad, #5de0e6);
}

header>nav>img,
footer>div>img {
    border-radius: 12px;
}

header,
.main-section-movies-container,
footer {
    border-radius: 12px;
}

/* movie container */
.main-section-movies-container {
    margin: 55px 0;
    padding: 22px;
    background-color: #004bad13;
    /* height: 50vh; */
    display: grid;
    justify-content: center;

}

.movies-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 44px;
}

/* movie cart container code */
.view-movies {
    /* border: 1px solid salmon; */
    height: 350px;
    width: 250px;
}

.view-movies>img {
    height: 100%;
    width: 100%;
    border-radius: 6px;

}

.front-content {
    position: relative;
    padding: 0 2px;
    bottom: 80px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    transition: 300ms;
}

.front-content:hover {
    cursor: pointer;
    font-weight: bolder;
    background-color: #004bad91;
    color: white;
    border-radius: 8px;
}

.view-movies>img:hover {
    filter: blur(2px);
    cursor: pointer;
}

.footer-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width <=1440px) {
    .movies-grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 34px;
    }
}


@media (width <=1024px) {
    .movies-grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;
    }
}


@media (width <=768px) {
    .movies-grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }
}


@media (width <=425px) {
    .movies-grid-container {
        grid-template-columns: 1fr;
        row-gap: 18px;
    }

    header {
        background-image: linear-gradient(to right, transparent, transparent);
    }

    header>nav {
        display: flex;
        justify-content: center;
    }

    header>nav>img,
    footer>div>img {
        height: 80px;
    }

    .main-section-movies-container {
        background-color: transparent;
    }
}