*{
    margin: 0;
    padding: 0;
}

#container{
    /* border: 1px solid rebeccapurple; */
    margin: 25px 5% 0  5%;
}

#logo-group{
    display: flex;
    /* border: 1px solid green; */
    /* height: 80px; */
}

#left{
    display: flex;
    /* border: 1px solid green; */
    justify-content:flex-end;
    align-items: center;
    width: 100%;
}

#left span{
    margin-right: 8px;
    font-size: 18px;
    font-weight: bold;
}
#logos{
    display: flex;
    gap: 5px;
    align-items: center;
}
#logos img{
    height: 18px;
    width: 18px;
}

#seprator{
    margin: 22px 0;
}
/* nav{
    border: 1px solid blue;
    position: fixed;
    top: 0;
} */
#nav-content{
    display: flex;
    gap: 40px;
}

#nav-content p{
    font-size: 22px;
    font-weight: bold;
}

#nav-content p:hover{
    color: #C70D0D;
    cursor: pointer;
}

nav hr{
    margin-top: 13px;
    border: 2px solid #131313;
}

#first-sec{
    margin-top: 22px;
    display: flex;
    /* height: 460px; */
    /* width: 973px; */
}

#right-sec1 img{
    height: 460px;
    width: 973px;
}
#right-sec1 p{
    font-size: 18px;
    margin-top: 22px;
}
#red-p{
    color: #D03B0D;
    font-weight: bold;
}
#right-sec1 h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 22px;
}

#left-sec1{
    margin-left: 25px;
}

.right-container1{
    display: flex;
    /* border: 1px solid #D03B0D; */
    width: 700px;
    margin-bottom: 22px;
}

.right1{
    margin-left: 22px;
}
.right1 p{
    font-size: 16px;
    margin-bottom: 18px;
}
.right1 .rightp1{
    color: #D03B0D;
    font-weight: bold;
}
.right1 h1{
    /* font-size: 50px; */
    font-weight: bolder;
    margin-bottom: 22px;
}

#sec1hr{
    border: 2px solid #131313;
    max-width: 83%;
}

/* art and culture */
.highlight-h1{
    margin: 22px 0;
    font-size: 33px;
}
#second-sec-content{
    display: flex;
    gap: 22px;
}
.second-sec-mainclass {
    /* border:  1px solid green; */
    max-width: 446px;
}
.second-sec-mainclass img{
    max-width: 404px;
    max-height: 290px;
    border-radius: 2px;
}
.sec-img-div{
    margin-top: 22px;
    /* border: 1px solid black; */
}
.sec-img-div .cat{
    color: red;
    font-weight: bold;
}

.sec-img-div h2{
    margin: 8px 0;
    font-weight: bold;
}
.sec-img-div h2:hover{
    color: #C70D0D;
    cursor: pointer;
}
.sec-img-div p{
font-weight: bold;
}

.by:hover{
    color: #C70D0D;
    cursor: pointer;
}

/* #ades{
    width: 185px;
    height: 588px;
    background-color: #131313;
} */

/* thied section */
.sec3hr{
    border: 2px solid #131313;
    /* max-width: 83%; */
    margin: 55px 0;
}

/* Fourth section */
#fourth-sec{
    margin: 3% 0;
    color: white;
    background-color: #131313;
    height: 800px;
}

#fourth-sec-main{
    border: 1px solid rgb(0, 0, 0);
    margin: 0 5% 0  5%;
}

#fourth-sec-main #fourth-h1{
    margin: 35px 0;
    font-size: 31px;
}
#fourth-sec-content{
    display: flex;
}
.click-fourth{
    color: #898989;
    font-weight: bold;
}

/* Bottom Content #fifth */
#bottom-content{
    margin: 0 5% 0  5%;
}

/* Footer */

footer{
    margin-top: 3%;
    color: white;
    background-color: #131313;
    height: 600px;
}
#footer-sec-main{
    margin: 0 15% 0 15%;
    border: 1px solid rgb(0, 0, 0);
    /* height: 100%; */
    /* display: flex; */
    align-items: center;
    color: white;
}
.footer-content-main{
    margin:  8% 0 5% 0;
    /* border: 1px solid orangered; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16%;
}
.footer-content-main h1{
    margin: 15% 0;
}
.footer-content-main p{
    margin: 18% 0;
    font-size: 18px;
    /* text-decoration: none; */
    /* text-decoration: underline red; */
}
.footer-content-main a{
    text-decoration: none;
    color: #adabab;
    transition: 0.3s;
}
.footer-content-main a:hover{
    color: #d4cece;
    text-decoration: underline;
}

#copyright-hr{
    margin: 0 10%;
    border: 1px solid #434141;
}
#copyright{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 18px;
    color: #C2C5DB;
}